 .u-section-1 {
  background-image: url("images/fgfgfg5t.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1168px;
  margin: 23px -14px 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 539px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  width: 343px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 539px;
  transition-duration: 0.5s;
  background-image: url("images/143003012-0.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(-5px) scale(1);
  margin-bottom: 5px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    min-height: 434px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 1deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 747px;
    margin-right: auto;
    margin-left: -27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 724px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 138px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 57px;
    margin-left: 78px;
  }

  .u-section-1 .u-image-1 {
    min-height: 724px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 659px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
  min-height: 911px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 196px);
}

.u-section-2 .u-shape-1 {
  height: 219px;
  margin-top: 209px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -387px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 30px));
  min-height: 555px;
  grid-gap: 45px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 23px 21px;
}

.u-section-2 .u-image-1 {
  height: 270px;
  margin: 0 7px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 8px 0 0 8px;
}

.u-section-2 .u-text-4 {
  margin: 41px 14px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 30px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 23px 21px;
}

.u-section-2 .u-image-2 {
  height: 270px;
  margin: 0 7px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 8px 0 0 8px;
}

.u-section-2 .u-text-6 {
  margin: 41px 14px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 30px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 23px 21px;
}

.u-section-2 .u-image-3 {
  height: 270px;
  margin: 0 7px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 8px 0 0 8px;
}

.u-section-2 .u-text-8 {
  margin: 41px 14px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 951px;
  }

  .u-section-2 .u-text-1 {
    width: 426px;
    margin-top: 54px;
  }

  .u-section-2 .u-text-2 {
    width: 749px;
    margin-left: calc(((100% - 940px) / 2) + 196px);
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 30px));
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }

  .u-section-2 .u-image-2 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }

  .u-section-2 .u-image-3 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    border-style: none;
    padding: 14px 41px 15px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1052px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 254px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 254px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 202px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 156px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 55px;
  }

  .u-section-2 .u-text-2 {
    width: 324px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 709px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1202px;
  margin: 40px -31px 27px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-3 .u-text-1 {
  margin: 0 7px;
}

.u-section-3 .u-list-1 {
  width: 541px;
  margin: 67px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 375px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 46px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 642px;
  background-image: url("images/dfdf.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-list-1 {
    width: 423px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 294px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 101px;
  }

  .u-section-3 .u-image-1 {
    min-height: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 313px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-image-1 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 101px;
  }

  .u-section-3 .u-image-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 120px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 623px;
}

.u-section-4 .u-text-1 {
  width: 290px;
  margin: 44px auto 0;
}

.u-section-4 .u-text-2 {
  width: 570px;
  margin: 21px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 35px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-group-1 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-1 {
  width: 79px;
  height: 79px;
  background-image: url("images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-4 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-group-2 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-2 {
  width: 79px;
  height: 79px;
  background-image: url("images/1222_150.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-6 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-4 .u-group-3 {
  width: 231px;
  min-height: 69px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -41px 22px 0;
}

.u-section-4 .u-image-3 {
  width: 79px;
  height: 79px;
  background-image: url("images/3e323ee9-9fff-450e-aabf-b9b006d5620c.jpg");
  background-position: 50% 50%;
  margin: -69px 0 0 auto;
}

.u-section-4 .u-text-8 {
  line-height: 2.2;
  font-style: italic;
  margin: 39px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 285px;
  }

  .u-section-4 .u-group-1 {
    width: 186px;
  }

  .u-section-4 .u-icon-1 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-1 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-4 .u-group-2 {
    width: 186px;
  }

  .u-section-4 .u-icon-2 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-2 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-4 .u-group-3 {
    width: 186px;
  }

  .u-section-4 .u-icon-3 {
    width: 57px;
    height: 57px;
    padding: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    margin-top: -34px;
  }

  .u-section-4 .u-image-3 {
    width: 69px;
    height: 69px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 712px;
}

.u-section-5 .u-text-1 {
  font-size: 3.4375rem;
  margin: 60px 75px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  width: 846px;
  margin: 44px auto 0;
}

.u-section-5 .u-form-1 {
  height: 51px;
  width: 624px;
  margin: 26px auto 0;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  width: 768px;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-1 {
  font-size: 0.875em;
}

.u-section-5 .u-icon-2 {
  font-size: 0.875em;
}

.u-section-5 .u-icon-3 {
  font-size: 0.875em;
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-text-4 {
  width: 768px;
  margin: 73px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  min-height: 156px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-5 .u-image-1 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-5 .u-image-2 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-5 .u-image-3 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-5 .u-image-4 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-5 .u-image-5 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 129px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 66px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 66px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 66px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 66px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-5 {
    height: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 58px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 292px;
  }

  .u-section-5 .u-image-1 {
    height: 73px;
  }

  .u-section-5 .u-image-2 {
    height: 73px;
  }

  .u-section-5 .u-image-3 {
    height: 73px;
  }

  .u-section-5 .u-image-4 {
    height: 73px;
  }

  .u-section-5 .u-image-5 {
    height: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 59px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 445px;
  }

  .u-section-5 .u-image-1 {
    height: 77px;
  }

  .u-section-5 .u-image-2 {
    height: 77px;
  }

  .u-section-5 .u-image-3 {
    height: 77px;
  }

  .u-section-5 .u-image-4 {
    height: 77px;
  }

  .u-section-5 .u-image-5 {
    height: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }
} .u-section-6 {
  background-image: url("images/vbvbbv.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 842px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 50px 30px 50px 50px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-1 {
  width: 417px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 508px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: -22px 0 0 41px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: -22px 0 0 41px;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: -22px 0 0 41px;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 212px;
  min-width: 148px;
  margin: 108px auto 0 0;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 842px;
}

.u-section-6 .u-container-layout-5 {
  padding: 50px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 0 80px 0 6px;
}

.u-section-6 .u-text-10 {
  font-size: 1.125rem;
  margin: 24px 6px 0;
}

.u-section-6 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-form-1 {
  height: 351px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-6 .u-list-1 {
    width: 390px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 15px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 845px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-6 .u-list-1 {
    width: 568px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 511px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-list-1 {
    width: 456px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 50px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 50px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 50px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 109px;
  }

  .u-section-6 .u-container-layout-5 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 847px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-list-1 {
    width: 292px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}