.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: -338px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 609px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 9px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 51px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 97px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -47px auto 0 170px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 402px;
  height: 671px;
  margin: -31px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -215px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 124px;
    margin-right: 320px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-1 .u-image-1 {
    width: 392px;
    height: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 152px;
    margin-right: 210px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 66px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 124px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 276px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 153px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 522px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 721px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -9px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 660px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 531px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 510px;
  margin: 35px auto 0 -22px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 601px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0 15px 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 20px 40px 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 525px;
  margin: 30px 15px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 258px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-group-1 {
  width: 149px;
  height: 149px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-group-2 {
  width: 149px;
  height: 149px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    height: 489px;
    margin-top: 0;
    width: 470px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-2 .u-image-1 {
    height: 375px;
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    width: 360px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 626px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-2 .u-image-1 {
    height: 354px;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 887px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 394px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 84px;
  height: 84px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-2 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  width: 84px;
  height: 84px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-3 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  width: 84px;
  height: 84px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-4 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  width: 84px;
  height: 84px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-5 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 394px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  width: 84px;
  height: 84px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-11 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-6 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-3 .u-text-4 {
    padding-left: 4px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-3 .u-text-6 {
    padding-left: 4px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 347px;
  }

  .u-section-3 .u-text-8 {
    padding-left: 4px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 347px;
  }

  .u-section-3 .u-text-10 {
    padding-left: 4px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 325px;
  }

  .u-section-3 .u-text-12 {
    padding-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1879px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1258px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-text-1 {
  width: 673px;
  margin: 60px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: -47px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 247px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-4 .u-icon-2 {
  width: 97px;
  height: 97px;
  background-image: none;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 26px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-4 .u-icon-3 {
  width: 97px;
  background-image: none;
  height: 97px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 26px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-4 .u-icon-4 {
  width: 97px;
  background-image: none;
  height: 97px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 26px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 10px;
}

.u-section-4 .u-icon-5 {
  width: 97px;
  background-image: none;
  height: 97px;
  box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 26px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 625px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 645px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 37px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 525px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 45px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 70px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  margin-left: auto;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-shape-1 {
  height: 453px;
  width: 453px;
  margin: 36px auto 0 49px;
}

.u-section-5 .u-image-1 {
  height: 411px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 550px;
  margin: -403px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 49px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-5 .u-shape-1 {
    height: 393px;
    width: 393px;
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    height: 351px;
    width: 470px;
    margin-top: -333px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-5 .u-shape-1 {
    height: 360px;
    width: 360px;
  }

  .u-section-5 .u-image-1 {
    height: 269px;
    width: 360px;
    margin-top: -300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    height: 389px;
    width: 520px;
    margin-top: -359px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-5 .u-shape-1 {
    height: 238px;
    width: 238px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: 254px;
    margin-top: -237px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 805px;
}

.u-section-6 .u-text-1 {
  margin: 70px 102px 0;
}

.u-section-6 .u-text-2 {
  width: 503px;
  margin: 22px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 31px 0 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 472px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-6 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: 0 0 0 auto;
  padding: 5px;
}

.u-section-6 .u-text-3 {
  margin: 4px auto 0 2px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px auto 0 2px;
}

.u-section-6 .u-text-5 {
  margin: 22px 2px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 2px;
  padding: 17px 31px 17px 29px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-6 .u-icon-2 {
  width: 96px;
  height: 96px;
  margin: 0 0 0 auto;
  padding: 5px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 4px auto 0 2px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px auto 0 2px;
}

.u-section-6 .u-text-8 {
  margin: 22px 2px 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 2px;
  padding: 17px 31px 17px 29px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-6 .u-icon-3 {
  width: 96px;
  height: 96px;
  margin: 0 0 0 auto;
  padding: 5px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 4px auto 0 2px;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px auto 0 2px;
}

.u-section-6 .u-text-11 {
  margin: 22px 2px 0;
}

.u-section-6 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 2px;
  padding: 17px 31px 17px 29px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-2 {
    width: 523px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 386px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 921px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 744px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  width: 784px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  width: 233px;
  margin: 20px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-7 .u-group-1 {
  width: 765px;
  min-height: 365px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 80px auto 60px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 60px 30px;
}

.u-section-7 .u-image-1 {
  width: 176px;
  height: 176px;
  background-image: url("images/e-blonde-forty-years-old-pleased-woman-keeps-arms-folded-thinks-about-something-looks-away-wears-spectacles-knitted-sweater.jpg");
  background-position: 50% 50%;
  margin: -46px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-text-3 {
    margin-bottom: -65px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-top: 136px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    margin-bottom: -39px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 610px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 490px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  margin: 53px auto 0 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  margin: -45px auto 0 183px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 19px;
}

.u-section-8 .u-image-1 {
  height: 582px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 521px;
  margin: -23px auto -23px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -46px;
    margin-right: 86px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-8 .u-image-1 {
    height: 527px;
    margin-top: -47px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-btn-2 {
    align-self: center;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -45px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-8 .u-image-1 {
    height: 393px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 102px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -46px;
    margin-right: auto;
    margin-left: 274px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 578px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 54px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-8 .u-image-1 {
    height: 356px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}